.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
.navbar-content {
    margin: 10px;
  }

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .search-results-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    padding: 20px;
  }